/* ==UserStyle==
@name        Simplify Google
@description Remove useless nonsense in google search results
@match       https://www.google.com/
@match       https://www.google.com/search*
==/UserStyle== */

/* AI Overview */
#Odp5De, .olrp5b, .hdzaWe {
    display: none !important;
}

button.plR5qb {
    visibility: hidden;
    margin-left: -90px;
}

/* Ads */
.zTzk8e {
    display: none !important;
}